@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*,
*::after,
*::before
{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

:root
{
  --title-font : 'Finger Paint', cursive;
  --body-font: 'Roboto Mono', Arial, Helvetica, sans-serif;
  
  --small-font-size: 1.2rem;
  --normal-font-size: 1.6rem;
  --medium-font-size: 2.0rem;
  --big-font-size: 2.4rem;

  --normal-line-height: 1.6rem;
  --big-line-height: 2.2rem;

  --red: rgb(204, 20, 20);
  --green: rgb(10, 175, 38);
  --green-soft: rgb(10, 134, 83);
  --cyan: rgb(19, 130, 134);
  --white: #fff;
  --grey: rgb(207, 206, 206);
  --black: #000;
  --black-soft: rgba(0, 0, 0, 0.931);
}

/*  FONTS  */
$main-title-font:'Special Elite', cursive;

/* COLORS */
$white: #DFDFDF;
$background-color: #282828;
$background-color-secondary: #F1F3F4;
$light-grey: #c2c2c2;
$background-fade: rgba(0,0,0,0.65);
$text-color-over: #ababab;

/*  DECORATIONS  */
$button-border-radius: 5px;

html
{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  width: 100%;
  background-color: var(--black-soft);
}

#root
{
  min-height: 100%;
  width: 100%;
  background-color: $background-color;
}

/*    HEADER     */
.navbar{
  background-color: $background-color-secondary;
}

.navbarLogo{
  max-width: 7rem;
  max-height: 7rem;
}

.navbar-nav{
  @media screen and (max-width: 1000px) {
    margin-top: 2rem;
  }
    

  @media screen and (min-width: 1000px) {
    margin-left: 3rem;
    & > li{
      margin-right: 1rem;
    }
  }
}

.nav-link{
  color: $background-color !important;
}

.nav-link:hover{
  color: $text-color-over !important;
}

.navbar-collapse{
  font-size: 1.6rem;
 
  @media screen and (max-width: 768px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}


.dropdown-menu{
  font-size: 1.4rem !important;
}

/*    FOOTER     */

.footer__wrapper
{
  width: 100%;

  font-size: var(--normal-font-size);
  color: $background-color;
  background-color: $background-color-secondary;
}

.footer__wrapper a
{    
  color: $background-color;
}
