@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*,
*::after,
*::before
{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

/*  FONTS  */
$main-title-font:'Special Elite', cursive;
$font-title: 'Finger Paint', cursive;
$font-body: 'Roboto Mono', Arial, Helvetica, sans-serif;


/* COLORS */
$white: #FAFAFA;
$red: #c10909;
$green: #23b107;
$black-night: #202329;
$gray-mid: #3c3e44;
$gray-normal: #b1b2b5;
$color-secondary: #0d758c;

$background-fade: rgba(0,0,0,0.65);

/*  DECORATIONS  */
$button-border-radius: 5px;

/*  SIZES  */
$fontSize-small: 1.2rem;
$fontSize-normal: 1.6rem;
$fontSize-medium: 2.0rem;
$fontSize-big: 2.4rem;

html
{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  width: 100%;
}

#root
{
  min-height: 100%;
  width: 100%;
  background-color: $black-night;
}

a{
  text-decoration: none !important;
}

/*    HEADER     */
.navbar{
  background-color: $white;
}

.navbarLogo{
  max-width: 7rem;
  max-height: 7rem;
}

.navbar-nav{
  @media screen and (max-width: 1000px) {
    margin: 2rem 0rem 0rem 1rem;
    
  }
    
  @media screen and (min-width: 1000px) {
    margin-left: 3rem;
    & > li{
      margin-right: 1rem;
    }
  }
}

.nav-link{
  color: $black-night !important;
  font-weight: bold !important;
}

.nav-link:hover{
  color: $color-secondary !important;
  font-weight: bold !important;
}

.navbar-collapse{
  font-size: 1.6rem;
 
  @media screen and (max-width: 768px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.dropdown-menu{
  font-size: $fontSize-small!important;
}

/*    FOOTER     */

.footer__wrapper
{

  font-size: $fontSize-small;
  color: $gray-mid;
  background-color: $white;

  position: fixed;
  bottom: 0;

  & p{
    margin: 0;
  }
}

.footer__wrapper a
{    
  color: $black-night;
}
