*,
*::after,
*::before
{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

:root
{
  --title-font : 'Finger Paint', cursive;
  --body-font: 'Roboto Mono', Arial, Helvetica, sans-serif;
  
  --small-font-size: 1.2rem;
  --normal-font-size: 1.6rem;
  --medium-font-size: 2.0rem;
  --big-font-size: 2.4rem;

  --normal-line-height: 1.6rem;
  --big-line-height: 2.2rem;

  --red: rgb(204, 20, 20);
  --green: rgb(10, 175, 38);
  --green-soft: rgb(10, 134, 83);
  --cyan: rgb(19, 130, 134);
  --white: #fff;
  --grey: rgb(207, 206, 206);
  --black: #000;
  --black-soft: rgba(0, 0, 0, 0.931);

}

html
{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  width: 100%;
  background-color: var(--black-soft);
}

#root
{
  min-height: 100%;
  width: 100%;
}

/*    HEADER     */
.header__img-wrapper
{
  width: 320px;
  margin: 0 auto;
}

.header__img-wrapper img
{
  width: 100%;
}

@media screen and (min-width: 600px)
{
  .header__img-wrapper
  {
    width: 420px;
  }
}

@media screen and (min-width: 1024px)
{
  .header__img-wrapper
  {
    width: 520px;
  }
}


@media screen and (min-width: 1200px)
{
  .header__img-wrapper
  {
    width: 768px;
  }
}


/*    FOOTER     */

.footer__wrapper
{
  width: 100%;
  display:grid;
  place-items: center;

  font-size: var(--normal-font-size);
  color: #fafafa;
}

.footer__wrapper a
{    
  color: #fafafa;
}

@media screen and (min-width: 600px)
{
  .footer__wrapper
  {
   width: 30%;
  }
}