
.main__card-wrapper
{
  width: 100%;
  max-width: 280px;
  margin: 2rem auto;

  border: 1px solid black;

  background-color: var(--cyan);

  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 15px 2px rgba(110, 110, 110, 0.555) ;

  transition: all 0.3s;
}

.main__card-wrapper:hover
{
  box-shadow: 0 4px 15px 3px rgba(110, 110, 110, 0.705);
  transform: scale(105%);
}

@media screen and (min-width: 600px)
{
  .main__card-wrapper
  {
    max-height: 300px;
    min-height: 250px;
    max-width: 550px;
    display:flex;
    border-radius: 0 10px 10px 0;
  }
}

.card-img-wrapper
{
  flex: 2 1 0%;
  width: 100%;
}

.card-img-wrapper img
{
  width: 100%;
  height: 300px;
  opacity: 1;
  object-position: center center;
  object-fit: cover;
}

@media screen and (min-width: 600px)
{
  .card-img-wrapper
  {
    height: 100%;
    max-width: 200px;
  }
  .card-img-wrapper img
  {
    height: 100%;
  }
}

.card-text-wrapper
{
  padding: 4px 8px;
  font-family: var(--body-font);
}

.card-body-header
{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-body-header h3
{
  font-size:var(--big-font-size);
  font-family: var(--title-font);
}

@media screen and (min-width: 600px)
{
  .card-body-header
  {
    width: 330px;
    min-height: 50px;
  }
}

.card-body-title
{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  
  margin: rem 0 0 0;
}

.card-body-title p,
.card-body-text p
{
  margin: .3rem 0;
  color: rgb(47, 47, 47);
}

@media screen and (min-width: 600px)
{
  .card-body-title
  {
     margin: 1rem 0 0 0;
  }
}

/* Dimension */

.card-body-text 
{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  
  margin-top: .5rem;
}

/* Status */

.status
{
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: var(--black);
  padding: 4px 8px;

  border-radius: 5px;
}

.alive
{
  color: var(--green-soft);
}

.dead
{
  color: var(--red);
}

.unknown
{
  color: var(--white);
}
