@use 'Base.scss';

.main__card-wrapper
{
  width: 100%;
  max-width: 302px !important;
  margin: 2rem auto ;

  border: 1px solid Base.$black-night;

  background-color: Base.$gray-mid;

  border-radius: 0 0 10px 10px;

  transition: all 0.3s;
  padding: 0 !important;

  & .main__card-wrapper:last-child{
    margin-bottom: 10rem;
  }

  @media screen and (min-width: 600px){
    max-height: 180px;
    max-width: 450px !important; //550 original
    display:flex;
    border-radius: 0 10px 10px 0;
  }

  @media scrren and (min-width: 1200px){
    max-width: 550px !important;
  }
}

.main__card-wrapper:hover{
  transform: scale(105%);
}

.cardDeck article:last-child{
  margin-bottom: 15rem !important;
}

.especialCardDeck a:last-child{
  margin-bottom: 10rem !important;
}

.card-img-wrapper
{
  flex: 2 1 0%;
  width: 100%;
  max-height: 300px;
  height: 300px;
  background-image: url('../assets/img/avatar-img.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 600px){
    max-height: 300px;
    max-width: 60%;
    height: 100%;
    width: 100%;
  }

  & img{
    max-width: 100%;
    max-height: 100%;
    object-position: center center;
    object-fit: cover;

    @media screen and (min-width: 600px){
      width: 100%;
      height: 100%
    }
  }
}

.card-text-wrapper{
  padding: 4px 8px;
  font-family: Base.$font-body;
  
  @media screen and (min-width: 600px){
    width: 60%;
  }
}

.card-body-subheader{
  display:flex;
  align-items: center;
  color: Base.$white;

  & .status{
    margin-right: .5rem;
  }

}

.card-body-header{
  display:flex;
  justify-content: flex-start;
  align-items: baseline;
  & > h2{
    font-size: Base.$fontSize-big;
    font-family: Base.$font-title;
    color: Base.$white;
    width: 100%;
    padding: .5rem 0rem;
    border-bottom: 1px solid #4f5156;
  }

  @media screen and (min-width: 600px){
    .card-body-header{
      width: 330px;
      min-height: 50px;
    }
  }
}

.card-body-text {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  
  color: Base.$white;
  margin-top: .5rem;

  & p:first-child{
    margin: .3rem 0;
    color: Base.$gray-normal;
  }
}

@media screen and (min-width: 600px)
{
  .card-body-title
  {
     margin: 1rem 0 0 0;
  }
}

/* Status */
.status{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.alive
{
  background-color: Base.$green;
}

.dead
{
  background-color: Base.$red;
}

.unknown
{
  background-color: Base.$gray-normal;
}
