@use 'Base.scss';

.navbarContainer{
  background-color: Base.$white;
  padding: 3rem 0 3rem;
  width: 100%;
  height: Base.$footerSize;

  margin-top: auto;
}

.navbarButtonWrapper{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button_prev,
.button_next
{
  width: 3rem;
  background-clip: padding-box;
  border-radius: 6px;
}

.button_prev:hover{
  cursor: pointer;
  background-color: Base.$color-secondary;
}

.button_next:hover{
  cursor: pointer;
  background-color: Base.$color-secondary;
}

.navbarSelectWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-size: 1.4rem;
}

.navbarPageWrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  color: Base.$black-night;
  & > span{
    padding: .5rem .8rem;
    border-radius: Base.$button-border-radius;
    border: 3px solid black;
  }
}

/* Dropup Button */
.dropbtn {
  color: Base.$black-night;
  padding: 4px 8px;
  background-color: transparent;
  font-size: Base.$fontSize-normal;
  font-family: Base.$font-body;
  border: 3px solid black;
  border-radius: Base.$button-border-radius;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 32px;
  left: -18px;
  background-color: Base.$white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside */
.dropup-content a {
  color: Base.$black-night;
  padding: 6px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of links */
.dropup-content a:hover {
  background-color: Base.$gray-mid;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: Base.$color-secondary;
}