@use 'Base.scss';

.navbarContainer{
  background-color: Base.$white;
  padding: 3rem 0 3rem;
  width: 100%;
  height: Base.$footerSize;

  margin-top: auto;
}

.navbarButtonWrapper{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pageNumber{
  font-size: 1.2rem;
  font-weight: bold;
  color: Base.$black-night;
}

.button_prev,
.button_next
{
  border-radius: 6px;
}

.button_prev:hover,
.button_next:hover{
  cursor: pointer;
  color: Base.$color-secondary;
}

.navbarSelectWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-size: 1.4rem;
}

.navbarPageWrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  color: Base.$black-night;
  & > span{
    padding: .5rem .8rem;
    border-radius: Base.$button-border-radius;
    border: 3px solid black;
  }
}

