.searchbar__wrapper
{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  @media screen and (max-width: 990px)
  {
    width: 60%;
    margin: 1rem auto 1rem;
  }

}


.searchbar__wrapper-input
{
  min-width: 100%;
  text-align: center;

  padding: 4px 8px;
  border-radius: 8px;

  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.searchbar__wrapper-input:focus
{
  outline: 1px solid var(--grey)
}

@media screen and (min-width:1024px)
{
  .searchbar__wrapper-input
  {
    width: 100%;
  }
}

