*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root
{
  --body-font-size: ;
  --title-font-size: ;

  /* Colores */
  --red: rgb(224, 21, 21);
  --green: rgb(10, 175, 38);
  --green-soft: rgb(10, 134, 83);
  --cyan: rgb(22, 191, 197);
  --white: #fff;
  --grey: rgb(207, 206, 206);
  --black: #000;
}

html
{
  min-height: 100%;
  width: 100%;
}

body
{
  height: 100%;
  width: 100%;
  background: var(--black);
  /* Atributos por si usamos imágenes */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size:cover; */
}

.header
{
  width: 90%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.img-header-wrapper
{
  display:block;
  height: 115px;
  width: 100%;
  background-image: url('./src/images/rickandmorty-title-tiny.png'); /* Modificar para tablet / desktop */
  background-repeat: no-repeat;
  background-position: center;
}


@media screen and (min-width: 820px)
{
  .img-header-wrapper
  {
    height: 200px;
    background-image: url('./src/images/rickandmorty-title-medium.png');
  }
}

@media screen and (min-width: 1200px)
{
  .img-header-wrapper
  {
    height: 265px;
    background-image: url('./src/images/rickandmorty-title.png');
  }
}

.main
{
  width: 90%;
  margin: 24px auto;
}

@media screen and (min-width: 1200px)
{
  .main
  {
    margin: 36px auto;
  }
}

/* BUTTONS */
.button-section
{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.select-list
{
  width: 60px;
  text-align: center;
  font-size: var(--body-font-size);
  font-weight: bold;
  background-color: var(--black);
  color:var(--cyan);
  border-color: var(--cyan);
  box-shadow: 3px 3px 20px var(--green),
              -3px -3px 20px var(--green)
}

.button-wrapper
{
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (min-width: 820px)
{
  .button-wrapper
  {
    justify-content: space-evenly;
    width: 100%;
  }
}

#button-next,
#button-prev
{
  width: 64px;
}

#button-next:active,
#button-prev:active
{
  transform: scaleY(-10%), scaleX(-10%);
}

@media screen and (min-width: 820px)
{
  #button-next,
  #button-prev
{
  width: 84px;
}

}

#button-next
{
  transform:rotate(180deg);
}

.cards-container
{
  display:grid;
  place-items: center;
  grid-template-columns: 1fr;
  row-gap: 32px;
  margin-top: 32px;
}

@media screen and (min-width: 820px)
{
  .cards-container
  {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 46px;
  }
}

@media screen and (min-width: 1200px)
{
  .cards-container
  {
    width: 80%;
    margin: 32px auto;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
  }
}

.card-wrapper
{
  max-width: 316px;
  padding: 8px;
}

.card
{
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: var(--green-soft);
  border-radius: 5%;
  width: 316px;
  min-height: 424px;
  box-shadow: 0 19px 38px rgba(22, 196, 200, 0.3),
               0 15px 12px rgba(0, 197, 200, 0.20);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover
{
  box-shadow: 0 14px 28px rgba(22, 196, 200, 0.6), 
              0 10px 10px rgba(0, 197, 200, 0.40);
}

.card-text
{
  height: 100%;
}

.card-title
{
  font-family: 'Finger Paint', cursive;
}

.text-header
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 12px;
}

.text-wrapper
{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 8px 12px;
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
}

.text-title
{
  font-weight: bold;
}

.card-dimension
{
  text-align: right;
}

/* Status */
.status
{
  cursor: pointer;
  border-radius: 10%;
  padding: 4px 8px;
  background-color: var(--black);
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.alive
{
  border: 1px solid var(--green);
  color: var(--green);
}

.dead
{
  border: 1px solid var(--red);
  color: var(--red);
}

.unknown
{
  border: 1px solid var(--black);
  color: var(--white);
}

.img-container
{
  width: 100%;
}

.img-container img
{
  width: 100%;
  max-height: 300px;
  border-radius: 5% 5% 0 0;
}

.footer
{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 62px;

  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  color:white;
}

.footer a,
.footer a:visited
{
  color:white;
  cursor:pointer;
}

.github-icon
{
  width: 28px;
  margin-left: 12px;
}


