*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --body-font-size: ;
  --title-font-size: ;

  /* Colores */
  --red: rgb(224, 21, 21);
  --green: rgb(10, 175, 38);
  --green-soft: rgb(10, 134, 83);
  --cyan: rgb(22, 191, 197);
  --white: #fff;
  --grey: rgb(207, 206, 206);
  --black: #000;
}

html
{
  min-height: 100vh;
  width: 100%;
}

body
{
  height: 100%;
  width: 100%;
  background: var(--black);
}

.header
{
  width: 100%;
  display:grid;
  grid-template-columns: repeat(4, 25%);
}

@media screen and (min-width: 768px)
{
  .img-header-wrapper
  {
    max-width: 60vw;
  }
}

@media screen and (min-width: 1366px)
{
  .img-header-wrapper
  {
    max-width: 40vw;
  }
}

.img-header-wrapper
{
  display:block;
  width: 90%;
  margin: 0 auto;
}

.img-header
{
  width: 100%
}

.main
{
  width: 90%;
  margin: 24px auto;
}

@media screen and (min-width: 1366px)
{
  .main
  {
    margin: 36px auto;
  }
}

/* BUTTONS */
.button-section
{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.select-list
{
  width: 60px;
  text-align: center;
  font-size: var(--body-font-size);
  font-weight: bold;
  background-color: var(--black);
  color:var(--cyan);
  border-color: var(--cyan);
  box-shadow: 3px 3px 20px var(--green),
              -3px -3px 20px var(--green)
}

.button-wrapper
{
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
}

#button-next,
#button-prev
{
  width: 3em;
}

@media screen and (min-width: 768px)
{
  #button-next,
  #button-prev
  {
    width: 3em;
  }
}

@media screen and (min-width: 1366px)
{
  #button-next,
  #button-prev
  {
    width: 5em;
  }
}

#button-next
{
  transform:rotate(180deg);
}

.cards-container
{
  display:grid;
  place-items: center;
  grid-template-columns: 1fr;
  row-gap: 32px;
  margin-top: 32px;
}

@media screen and (min-width: 768px)
{
  .cards-container
  {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 46px;
  }
}

@media screen and (min-width: 1366px)
{
  .cards-container
  {
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 32px auto;
  }
}

.card
{
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: var(--green-soft);
  border-radius: 5%;
  max-width: 300px;
  min-height: 450px;
  box-shadow: 0 19px 38px rgba(22, 196, 200, 0.3),
               0 15px 12px rgba(0, 197, 200, 0.20);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@media screen and (min-width: 1366px)
{
  .card
  {
    max-width: 400px;
    min-height: 550px;
  }
}


.card:hover
{
  box-shadow: 0 14px 28px rgba(22, 196, 200, 0.6), 
              0 10px 10px rgba(0, 197, 200, 0.40);
}

.card-text
{
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title
{
  font-family: 'Finger Paint', cursive;
  width: 80%;
}

.text-header
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 1em .7em 0px .7em;
  font-size: 1em;
}

@media screen and (min-width: 1366px)
{
  .text-header
  {
    font-size: 2.5em;
  }
}

.text-wrapper
{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1em .7em;
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  font-size: .8em;
}

@media screen and (min-width: 1366px)
{
  .text-wrapper
  {
    font-size: 2em;
  }
}

.text-title
{
  font-weight: bold;
}

.card-dimension
{
  text-align: right;
  width: 60%;
}

/* Status */
.status
{
  cursor: pointer;
  border-radius: 10%;
  padding: 4px 8px;
  background-color: var(--black);
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.alive
{
  border: 1px solid var(--green);
  color: var(--green);
}

.dead
{
  border: 1px solid var(--red);
  color: var(--red);
}

.unknown
{
  border: 1px solid var(--black);
  color: var(--white);
}

/* Img */
.img-container
{
  width: 100%;
  height: 50%;
}

.img-container img
{
  width: 100%;
  border-radius: 5% 5% 0 0;
}

/* Footer */

.footer
{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 62px;

  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  color:white;
}

.footer a,
.footer a:visited
{
  color:white;
  cursor:pointer;
}

.github-icon
{
  width: 28px;
  margin-left: 12px;
}
