*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
}

html
{
  min-height: 100vh;
  width: 100%;
}

body
{
  height: 100%;
  background: grey;
  width: 90%;
  margin: 0 auto;
  /* Atributos por si usamos imágenes */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size:cover; */
};

.main
{
  width: 100%;
  display:grid;
  grid-template-columns: 1fr;
}

.cards-container
{
  overflow-y: scroll;
}

.card-wrapper
{
  padding: 8px;
  display:grid;
  place-content: center;
}

.img-container img
{
  border-radius: 5%;
}

.card-text div:first-child
{
  display:flex;
}


