*,
*::after,
*::before
{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

:root
{
  --normal-font-size: 1.6rem;
  --big-font-size: 2.4rem;

  --normal-line-height: 1.6rem;
  --big-line-height: 2.2rem;
}

html
{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  width: 100%;
  background-color: rgb(105, 109, 76);
}

#root
{
  min-height: 100%;
  width: 100%;
}