.searchbar__wrapper
{
  width: 80%;
  max-width: 260px;
  display:flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

@media screen and (min-width:600px)
{
  .searchbar__wrapper
  {
    max-width: 350px;
  }
}

.searchbar__wrapper-input
{
  min-width: 100%;
  text-align: center;

  padding: 4px 8px;
  border-radius: 8px;

  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.searchbar__wrapper-input:focus
{
  outline: 1px solid var(--grey)
}

@media screen and (min-width:1024px)
{
  .searchbar__wrapper-input
  {
    width: 100%;
  }
}

