.header__img-wrapper
{
  width: 320px;
  margin: 0 auto;
}

.header__img-wrapper img
{
  width: 100%;
}

@media screen and (min-width: 600px)
{
  .header__img-wrapper
  {
    width: 420px;
  }
}

@media screen and (min-width: 1024px)
{
  .header__img-wrapper
  {
    width: 520px;
  }
}


@media screen and (min-width: 1200px)
{
  .header__img-wrapper
  {
    width: 768px;
  }
}

